<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
    <!-- <add key="DefaultPushSource" value="https://dgs.myget.org/F/phoenix/api/v2/package" /> -->
  </config>
  <packageSources>
    <clear />
    <add key="DTC Phoenix" value="https://dgs.myget.org/F/phoenix/auth/514ca756-a586-41e6-aec5-21c97fe3e635/api/v3/index.json" />
    <add key="DTC RemoteAssistance" value="https://dgs.myget.org/F/remote-assistance/auth/7bf51759-99eb-4e6c-9b1c-491f813d13af/api/v2" />
    <add key="Nuget.org" value="http://nuget.org" />
  </packageSources>
  <packageSourceCredentials>
  </packageSourceCredentials>
</configuration>
