<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <config>
    <add key="repositoryPath" value="packages" />
    <!-- <add key="DefaultPushSource" value="https://dgs.myget.org/F/phoenix/api/v2/package" /> -->
  </config>

  <packageSources>
    <clear />

    <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />

  </packageSources>

  <packageSourceCredentials>
  </packageSourceCredentials>

</configuration>
