<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Debug" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="NLog.Web"/>
    <add assembly="NLog.Extended" />
    <add assembly="NLog.Xml" />
  </extensions>

  <targets>
    <target name="file" xsi:type="File"
            fileName="${basedir}\musicstore_logfile.txt"
            keepFileOpen="false"
            >
      <layout xsi:type="XmlLayout">
        <property name="MachineName" layout="${machinename}"/>
        <property name="ThreadID" layout="${threadid}" />
        <property name="ThreadName" layout="${threadname}" />
        <property name="ProcessID" layout="${processid}" />
        <property name="ProcessName" layout="${processname:fullName=true}" />
        <property name="UserName" layout="${windows-identity}" />
        <property name="Stack" layout="${stacktrace:format=DetailedFlat:topFrames=20:skipFrames=0}" />
        <property name="Exception" layout="${exception:innerFormat=@:maxInnerExceptionLevel=20:format=@}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
