@model MvcMusicStore.Models.Order

@{
    ViewBag.Title = "Address And Payment";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm())
{
    <h2>Address And Payment</h2>
    <fieldset>
        <legend>Shipping Information</legend>

        @Html.EditorForModel()
    </fieldset>
    <input type="submit" value="Submit Order"/>
}