<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define FakeVerifit.UI_TargetDir=$(var.FakeVerifit.UI.TargetDir)?>
  <Product Id="*" Name="FakeVerifit" Language="1033" Version="1.1.0.0" Manufacturer="WDH" UpgradeCode="28bfd66b-d839-450c-87b5-c188e6121e79">
    <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />
    <Icon Id="fakeverifit.ico" SourceFile="fakeverifit.ico"/>
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="FakeVerifit.Installer.Msi" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="InstallDirDataPermissions" />
    </Feature>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="FakeVerifit">
          <Component Id="InstallDirDataPermissions" Guid="cfd4e967-6f96-4ff9-9b92-f115e4cac547" KeyPath="yes">
            <CreateFolder>
              <util:PermissionEx User="Everyone" GenericAll="yes" />
            </CreateFolder>
            <RemoveFile Id="removefiles" Name="*.*" Directory="INSTALLFOLDER" On="uninstall" />
          </Component>
          <!--<Directory Id="Skins" Name="Skins" />-->
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="FakeVerifit"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="646c54b0-0a07-4fe2-aa4f-f3348af91723">
        
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="FakeVerifit"
                  Description="FakeVerifit Application"
                  Target="[#FakeVerifit.UI.exe]"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="fakeverifit.ico"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\FakeVerifit" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="FakeVerifit.UI.exe" Guid="6a152f96-403f-42e2-a237-6333831973e5">
        <File Id="FakeVerifit.UI.exe" Name="FakeVerifit.UI.exe" Source="$(var.FakeVerifit.UI_TargetDir)FakeVerifit.UI.exe" />
      </Component>
      <Component Id="FakeVerifit.UI.exe.config" Guid="6c862270-1aae-4782-8b90-5facc08ea4da">
        <File Id="FakeVerifit.UI.exe.config" Name="FakeVerifit.UI.exe.config" Source="$(var.FakeVerifit.UI_TargetDir)FakeVerifit.UI.exe.config" />
      </Component>
      <Component Id="FakeVerifit.dll" Guid="a6a5d91c-7d88-4e58-acfc-9086c431a163">
        <File Id="FakeVerifit.dll" Name="FakeVerifit.dll" Source="$(var.FakeVerifit.UI_TargetDir)FakeVerifit.dll" />
      </Component>
      <Component Id="FakeVerifit.Core.dll" Guid="875feaa2-4f5b-4fef-a7a8-2d6b2e6a38c4">
        <File Id="FakeVerifit.Core.dll" Name="FakeVerifit.Core.dll" Source="$(var.FakeVerifit.Core.TargetPath)" />
      </Component>
      <Component Id="FakeVerifit.CommonUI.dll" Guid="79771417-6a1c-4bae-979a-a30751317730">
        <File Id="FakeVerifit.CommonUI.dll" Name="FakeVerifit.CommonUI.dll" Source="$(var.FakeVerifit.CommonUI.TargetPath)" />
      </Component>
      <Component Id="Autofac.dll" Guid="3eb6ad98-8424-4d8f-94d8-9b2b508b056e">
        <File Id="Autofac.dll" Name="Autofac.dll" Source="$(var.FakeVerifit.UI_TargetDir)Autofac.dll" />
      </Component>
      <Component Id="GalaSoft.MvvmLight.dll" Guid="1b077c48-7bb7-4e23-aa7b-e80f58bec58e">
        <File Id="GalaSoft.MvvmLight.dll" Name="GalaSoft.MvvmLight.dll" Source="$(var.FakeVerifit.UI_TargetDir)GalaSoft.MvvmLight.dll" />
      </Component>
      <Component Id="GalaSoft.MvvmLight.Extras.dll" Guid="d321dd1a-8269-460e-8dd2-f84712364b29">
        <File Id="GalaSoft.MvvmLight.Extras.dll" Name="GalaSoft.MvvmLight.Extras.dll" Source="$(var.FakeVerifit.UI_TargetDir)GalaSoft.MvvmLight.Extras.dll" />
      </Component>
      <Component Id="GalaSoft.MvvmLight.Platform.dll" Guid="a13953b8-e274-423a-9408-5ab252da6703">
        <File Id="GalaSoft.MvvmLight.Platform.dll" Name="GalaSoft.MvvmLight.Platform.dll" Source="$(var.FakeVerifit.UI_TargetDir)GalaSoft.MvvmLight.Platform.dll" />
      </Component>
      <Component Id="log4net.dll" Guid="e20351c1-fc07-4c27-ae1d-ce27a1d13643">
        <File Id="log4net.dll" Name="log4net.dll" Source="$(var.FakeVerifit.UI_TargetDir)log4net.dll" />
      </Component>
      <Component Id="Microsoft.Practices.ServiceLocation.dll" Guid="7394074d-9509-4a0c-8ab5-4d3e54566d23">
        <File Id="Microsoft.Practices.ServiceLocation.dll" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.FakeVerifit.UI_TargetDir)Microsoft.Practices.ServiceLocation.dll" />
      </Component>
      <Component Id="Soltys.ChangeCase.dll" Guid="3b094ad5-f474-4694-ac8a-303f48a2bf37">
        <File Id="Soltys.ChangeCase.dll" Name="Soltys.ChangeCase.dll" Source="$(var.FakeVerifit.UI_TargetDir)Soltys.ChangeCase.dll" />
      </Component>
      <Component Id="SuperSocket.Common.dll" Guid="ec57f2fe-ad32-4420-88cb-d6a1d692ed20">
        <File Id="SuperSocket.Common.dll" Name="SuperSocket.Common.dll" Source="$(var.FakeVerifit.UI_TargetDir)SuperSocket.Common.dll" />
      </Component>
      <Component Id="SuperSocket.Facility.dll" Guid="a7c92ce1-42ab-4f45-9b27-11fbeeb3697a">
        <File Id="SuperSocket.Facility.dll" Name="SuperSocket.Facility.dll" Source="$(var.FakeVerifit.UI_TargetDir)SuperSocket.Facility.dll" />
      </Component>
      <Component Id="SuperSocket.SocketBase.dll" Guid="6e735d74-7196-4a4e-b6f2-c51057d7cdd1">
        <File Id="SuperSocket.SocketBase.dll" Name="SuperSocket.SocketBase.dll" Source="$(var.FakeVerifit.UI_TargetDir)SuperSocket.SocketBase.dll" />
      </Component>
      <Component Id="SuperSocket.SocketEngine.dll" Guid="b4d479de-7dea-4e9a-9e89-e0fcb05b7ec9">
        <File Id="SuperSocket.SocketEngine.dll" Name="SuperSocket.SocketEngine.dll" Source="$(var.FakeVerifit.UI_TargetDir)SuperSocket.SocketEngine.dll" />
      </Component>
      <Component Id="SuperSocket.SocketService.exe" Guid="de776b5c-cd26-4628-a357-5f0291c3d0bb">
        <File Id="SuperSocket.SocketService.exe" Name="SuperSocket.SocketService.exe" Source="$(var.FakeVerifit.UI_TargetDir)SuperSocket.SocketService.exe" />
      </Component>
      <Component Id="System.Windows.Interactivity.dll" Guid="0ca11c4f-7f22-4878-8976-59b9fed4ca04">
        <File Id="System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" Source="$(var.FakeVerifit.UI_TargetDir)System.Windows.Interactivity.dll" />
      </Component>
      <Component Id="Nancy.dll" Guid="770ee4f9-8c5f-4287-9765-749a133fab60">
        <File Id="Nancy.dll" Name="Nancy.dll" Source="$(var.FakeVerifit.UI_TargetDir)Nancy.dll" />
      </Component>
      <Component Id="Nancy.Hosting.Self.dll" Guid="10a850f8-ad56-47bb-8c5a-e3f92a1b8cf7">
        <File Id="Nancy.Hosting.Self.dll" Name="Nancy.Hosting.Self.dll" Source="$(var.FakeVerifit.UI_TargetDir)Nancy.Hosting.Self.dll" />
      </Component>
      <Component Id="Autofac.log4net.dll" Guid="dbe8c8d4-2740-4e1b-9a95-f84719a5ee9c">
        <File Id="Autofac.log4net.dll" Name="Autofac.log4net.dll" Source="$(var.FakeVerifit.UI_TargetDir)Autofac.log4net.dll" />
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="359216b1-2dcb-4b0b-be0b-2a15fd047c95">
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.FakeVerifit.UI_TargetDir)Newtonsoft.Json.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
