<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="REMedy" Version="$(var.BuildVersion)" Manufacturer="WDH" UpgradeCode="57a24f98-ab89-4bf8-98a9-f5475679fd65">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense" >
      <bal:WixStandardBootstrapperApplication SuppressOptionsUI="yes"
                                              SuppressRepair="yes"
                                              ThemeFile="FakeVerifitTheme.thm"
                                              LocalizationFile="FakeVerifitTheme.wxl"
                                              LogoFile="logo.png"
                                              LicenseUrl="http://example.com"/>
    </BootstrapperApplicationRef>
	  <Variable Name="InstallFolder" Value="[ProgramFilesFolder]REMedy\" Persisted="yes" bal:Overridable="no" />
		<Chain>
			<!-- TODO: Define the list of chained packages. -->
			 <MsiPackage SourceFile="$(var.REMedy.Installer.Msi.TargetPath)" /> 
		</Chain>
	</Bundle>
</Wix>
